*{
  margin: 0;
  padding: 0;
}
#home{
  background-image: url('./assets/homeBg.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
#home img{
  width: 236px;
  position: absolute;
  top: 8%;
}
#welcome{
  padding-top: 50vh;
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 20vh;
}

.btn_cmp{
  border: none;
  color:#fff;
  background-color: #EE4D9B;
  padding: 1rem;
  display: block;
  border-radius: 5px;
  margin-bottom: 2vh;
  font-size: x-large;
  width:40vw;
}
#home_btn{
  padding-left:20vw ;
}
#footer{
  color: #858E96;
  background-color: #343A3F;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 2vh;

}

@media (max-width: 990px){
  .btn_cmp{
    width: 90vw;
    margin:2vh auto
  }
  #welcome{
    padding-top: 20vh;

  }
  #home_btn{
    padding-left:0 ;
  }
}  
