@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#home{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.4)),
  url('./assets/homeBg.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0;
}
#home img{
  width: 236px;
  position: absolute;
  top: 8%;
}
#welcome{
  padding-top: 60vh;
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 10vh;
}

.btn_cmp{
  border: none;
  color:#fff;
  background-color: #EE4D9B;
  padding: 1rem;
  display: block;
  border-radius: 5px;
  margin-bottom: 2vh;
  font-size: x-large;
  width:30vw;
}
#home_btn{
  padding-left:20vw ;
}
#heading{
  margin-bottom: 2vh;
}
#countries{
  width: 80vw;
  margin: 5vh auto;
}
.countries_grp{
  padding-left: 1.5% ;
  margin:2vh 0;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 10px;
  row-gap: 20px;
}
#countries_top{
  width: 100%;
  margin: 5vh auto;
  background-color: #D3D3D3;
  text-align: center;
  padding: 2vh 0;
}
.ind_countries{
  display:flex ;
  gap: 1vw;
  align-items: center;
}
.ind_countries img{
  width: 2vw;
  border-radius: 50%;
}

#footer{
  color: #858E96;
  background-color: #343A3F;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 2vh;

}


@media (max-width: 990px){
  .btn_cmp{
    width: 90vw;
    margin:2vh auto
  }
  #welcome{
    padding-top: 20vh;

  }
  #home_btn{
    padding-left:0 ;
  }
  .countries_grp{
    grid-template-columns: 33% 33%;
  }
}  
